<div class="container-size carousal">
    @if (images) {
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper carousal-center">
                <div alt="Random first slide" class="carousal-img slide-1"></div>
            </div>
            <div class="carousel-caption">
                <div class="caroual-first-content"> 30% OFF
                </div>
                <!-- When Buying Parts
                With Installation
                Installation of parts in the services of
                our partners. -->
                <button class="carousal-btn active"></button>
                <button class="carousal-btn"></button>
                <button class="carousal-btn"></button>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper carousal-center">
                <div alt="Random second slide" class="carousal-img slide-2"></div>
            </div>
            <div class="carousel-caption">
                <div class="caroual-first-content"> 30% OFF
                </div>
                <!-- When Buying Parts
                With Installation
                Installation of parts in the services of
                our partners. -->
                <button class="carousal-btn"></button>
                <button class="carousal-btn active"></button>
                <button class="carousal-btn"></button>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper carousal-center">
                <div alt="Random third slide" class="carousal-img slide-3"></div>
            </div>
            <div class="carousel-caption">
                <div class="caroual-first-content"> 30% OFF
                </div>
                <!-- When Buying Parts
                With Installation
                Installation of parts in the services of
                our partners. -->
                <button class="carousal-btn"></button>
                <button class="carousal-btn"></button>
                <button class="carousal-btn active"></button>
            </div>
        </ng-template>
    </ngb-carousel>
    }
</div>